<div class="row">
  <div class="col-lg-6 custom-colun">

    <form class="border p-5 mt-3">

      <h4>Unete</h4>
      <p>¡Crea un cuenta completamente gratis!</p>

      <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>

  </div>

  <div class="col-lg-6 custom-show">
    <img src="https://images.unsplash.com/photo-1575043635751-f8cf3ffb9471?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="w-100">
  </div>
</div>