<nav class="navbar navbar-expand-md navbar-dark bg-dark my-2 navbar-custom">
  <a class="navbar-brand" [routerLink]="['/']">Study Hall</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <!-- Links de la pagina -->
    <div class="navbar-nav mr-auto">
    </div>

    <!-- Autenticacion y perfil -->
    <ng-container *ngIf="!authState; else signed">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/signin']" routerLinkActive="active">Iniciar Sesión</a>
        <a class="nav-item nav-link" [routerLink]="['/signup']" routerLinkActive="active">Crear Cuenta</a>
      </div>
    </ng-container>
    <ng-template #signed>
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/classes']" routerLinkActive="active">Classes</a>
        <a class="nav-item nav-link" [routerLink]="['/profile/' + authState.username]" routerLinkActive="active">Perfil</a>
        <a class="nav-item nav-link" style="cursor: pointer;" (click)="signOut()">Cerrar Sesión</a>
      </div>
    </ng-template>

  </div>
</nav>