<div class="row">
  <ng-container *ngIf="!isLoading; else notLoaded">
    <div class="col-lg-6">

      <form [formGroup]="videoInputForm" (ngSubmit)="sendVideo()">
        <div class="input-group my-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://www.youtube.com/watch?v=</span>
          </div>
          <input class="form-control" type="text" placeholder="Video.." formControlName="video" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Actualizar</button>
          </div>
        </div>
      </form>

      <iframe width="100%" height="370px" [src]="trustedUrl" *ngIf="trustedUrl" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-lg-6" style="min-height: 800px;">
      <div class="border rounded h-75" style="overflow: auto;">

        <app-chat *ngFor="let chat of group.chats" [chat]="chat"></app-chat>

      </div>
      <app-chat [create]="true" [group]="group" (update)="onUpdate()"></app-chat>

    </div>

  </ng-container>
  <ng-template #notLoaded>
    Cargando...
  </ng-template>
</div>